.navbar {
  display: flex;
  flex-direction: column;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }
  }

  .container {
    max-width: 1450px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px 30px;
    .smallList {
      position: fixed;
      top: 79px;
      width: 270px;
      height: 100vh;
      background-color: white;
      color: black;
      left: 0;
      transform: translateX(-100vw);
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .logo {
      font-size: 34px;
      display: flex;
      align-items: center;
      font-weight: bold;
      .menuIcon {
        .barIcon {
          width: 30px;
          display: none;
          margin-right: 10px;
          height: 30px;
        }
      }
      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    max-width: 1400px;
    margin: 0px auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
  @media (max-width: 613px) {
    &.active {
      .container {
        .smallList {
          display: flex;
          flex-direction: column;
          padding: 50px 20px;

          .btn {
            border: none;
            outline: none;
            padding: 15px 0px;
            border-radius: 5px;
            background-color: #013914;
            color: white;
            cursor: pointer;
            a {
              color: inherit;
              text-decoration: none;
            }
            margin-top: 30px;
          }
          .closeIcon {
            position: absolute;
            top: 8px;
            right: 10px;
            .xIcon {
              width: 30px;
              height: 30px;
              color: black;
              cursor: pointer;
            }
          }
          span {
            margin-bottom: 20px;
          }
          &.active {
            transform: translateX(0);
          }
        }
        .logo {
          .menuIcon {
            .barIcon {
              display: block;
            }
          }
        }
        .links {
          .h {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 1156px) {
    .menu {
      display: none;
    }
  }
}
@media (max-width: 493px) {
  .navbar {
    &.active {
      .container {
        .links {
          span {
            display: none;
          }
        }
      }
    }
  }
}
